# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\WeChat\Documents\WeChat Files\wxid_0kbv2427uyms22\FileStorage\File\2021-07\java_to_fabric\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
